@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100em;
    overflow-x: hidden;
    
}

.block {
    width: 100vw;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-x: center;
}

#background {
    width: 100vw;
    height: 100em;
    overflow: hidden;
    position: relative;
    background-image: url(../imgs/fundo-ceu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#q1 {
    background-image: url(../imgs/front.svg);
    background-size: 150em;
    background-position-x: center;
    top: 20em;
    z-index: 2;
}

#q2 {
    background-image: url(../imgs/mid.svg);
    background-position-y: top;
    background-size: 150em;
    top: 5em;
    z-index: 1;
}

#q3 {
    background-image: url(../imgs/back.svg);
    background-size: 20em;
    background-repeat: no-repeat;
    top: 10em;
    left: 10vw;
    z-index: 0;
}

#q4 {
    background-image: url(../imgs/near.svg);
    background-size: 150em;
    top: 70vh;
    z-index: 3;
    height: 100%;
}

#q5 {
    background-image: url(..//imgs/cat.png);
    background-size: 20em;
    top: 110vh;
    z-index: 4;
}

#q6 {
    background-image: url(../imgs/butterfly.gif);
    background-size: 10em;
    top: 100vh;
    left: 27em;
    z-index: 4;
}

header {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 0px 0px 8px black;
    text-align: center;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header span {
    color: rgb(126, 237, 61);
}

main {
    background-color: #4A4541;
    height: 30em;
}